.App * {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  border: 0;
  box-shadow: 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0 2rem 0;
  color: #666666;
}

.App .footer--link {
  color: #666666;
}

@media (max-width: 961px) {
  .App {
    margin: 0 1rem;
  }
}
