.Results .results--meanings,
.Results .results--word {
  margin-top: 1rem;
  box-shadow: 0px 4px 10px rgba(135, 135, 135, 0.2);
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
}
